.form-item {

    &__label {
        display: inline-block;
        vertical-align: top;
        padding: rem(12) 0;
    }

    &__input {
        display: block;
        width: 100%;
        max-width: rem(328);
        margin: 0;

        &:disabled {
            background-color: $color_white;
        }
    }
}
