.form-behance {

    &__button {
        display: inline-block;
        vertical-align: top;
        margin: rem(16) 0 0;

        &:disabled {
            background-color: $color_white;
        }
    }
}
