// Vars:

// Fonts:

$font_normal: 'Roboto Mono', sans-serif;
$font_bold: 'Roboto Mono', sans-serif;

// Colors:

$color_black: black;
$color_white: white;
$color_darkblue: darkblue;
$color_green: green;
$color_purple: purple;
$color_red: red;
